*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    background:  pink;
    height: 100vh;
    display: grid;
    place-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 15rem;
    padding: 0 3rem;
    color: white;
    background: #ff87ab ;
    border-radius: 30px;
}

#countLabel{
    font-size: 50px;
}

.buttons{
    display: flex;
}

button{
    text-align: center;
    margin: 10px;
    padding: 20px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
}

#darkmode{
    position: fixed;
    background-color: transparent;
    bottom: 0;
    right: 0;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid #466DFF ;
    padding: 10px;
    margin: 10px;
    height: 70px;
    transition: all 0.2s ease-in-out;
}

